:root {
  --primary-color: #ebd264;
  --font-family1: 'Playfair Display', serif;
  --font-family2: 'Poppins', sans-serif,
}

.navbar {
  background-color: #fff;
}

.navbar-nav {
  text-align: center;
}

.header {
  background-color: var(--primary-color);
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}

.h1-home {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 0;
}

.h2-home {
  margin-top: 0;
}

.h1-home, .h2-home {
  font-family: var(--font-family1);
}

.contact-link {
  display: inline-block;
  text-decoration: none;
  font-family: sans-serif;
  color: #fff;
  background-color: #b32222;
  border-radius: 50px;
  padding: 10px 20px;
  margin-top: 30px;
}

.contact-link:hover {
  color: #fff;
  background-color: #571111;
  transition: .5s ease-in-out;
}

.h3-headers-home {
  text-align: center;
  font-family: var(--font-family1);
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: -25px;
}

.line-under-headers {
  margin: 0 auto;
  color: #000;
  text-align: center;
  margin-top: 0px;
  padding-top: 0px;
}

.project-one {
  position: relative;
}

.images-projects {
  width: 90%;
  opacity: 60%;
}

.images-projects:hover {
  opacity: 100%;
  transition: .5s ease-in-out;
}

.h4-projects {
  margin-bottom: 0px;
  margin-top: 10px;
}

.h4-projects a {
  text-decoration: none;
  color: #000;
}

.projects-description {
  display: inline-block;
  width: 80%;
  text-align: center;
}

.wrapper-skills {
  text-align: center;
  margin-top: 30px;
}

.wrapper-logos {
  display: inline-block;
  margin: 0px 20px;
}

.logos-skills {
  width: 60px;
  margin-bottom: 8px;
}

.wrapper-contact {
  text-align: center;
  margin-top: 30px;
}

.each-contact {
  display: inline-block;
}

.each-contact.one {
  margin-right: 60px;
}

.each-contact a {
  text-decoration: none;
  color: #000;
}

.logos-contact {
  width: 60px;
  margin-bottom: 8px;
}

@media (max-width: 700px) {
  .h1-home {
    font-size: 40px;
  }

  .h2-home {
    font-size: 18px;
  }

  .h3-headers-home {
    font-size: 35px;
    margin-bottom: 20px;
  }

  .line-under-headers {
    display: none;
  }
  
  .images-projects {
    opacity: 1;
  }

  .project-one {
    display: block;
    width: 100%;
  }

  .project-one .images-projects {
    width: 70%;
  }

  .project-two {
    display: block;
    width: 100%;
  }

  .project-two .images-projects {
    width: 70%;
  }

  .wrapper-logos	{
    margin-top: 15px;
  }

  .each-contact {
    width: 100%;
    margin-bottom: 15px;
  }
}