:root {
  --primary-color: #ebd264;
  --font-family1: 'Playfair Display', serif;
}

.navbar {
  background-color: #fff;
}

.navbar-nav {
  text-align: center;
}

.header-home {
  background-color: var(--primary-color);
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}

.h1-home {
  font-size: 70px;
  font-weight: 600;
  margin-bottom: 0;
}

.h2-home {
  margin-top: 0;
  font-weight: 400;
}

.h1-home, .h2-home {
  font-family: var(--font-family1);
}

/*
.contact-link-home {
  display: inline-block;
  text-decoration: none;
  font-family: sans-serif;
  color: #fff;
  background-color: #b32222;
  border-radius: 50px;
  padding: 10px 20px;
  margin-top: 30px;
}

.contact-link-home:hover {
  color: #fff;
  background-color: #571111;
  transition: .5s ease-in-out;
}
*/

.h3-headers-home {
  text-align: center;
  font-family: var(--font-family1);
  font-size: 50px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: -25px;
}

.line-under-headers {
  margin: 0 auto;
  color: #000;
  text-align: center;
  margin-top: 0px;
  padding-top: 0px;
}

.h4-projects {
  margin-bottom: 0px;
  margin-top: 10px;
  font-family: var(--font-family1);
  font-weight: 400;
}

.h4-projects a {
  text-decoration: none;
  color: #000;
}

.projects-description-work {
  font-weight: 300;
}

.h4-projects.work {
  padding-top: 20px;
}

.contact-link-home.work {
  display: inherit;
  text-align: center;
  margin: 0 auto;
  width: 50%;
}

.paragraph-about-me {
  margin: 0 auto;
  padding-top: 30px;
  display: block;
  text-align: center;
  font-weight: 300;
  width: 60%;
}

.github {
  color: #4b4b4b;
  font-size: 10px;
  text-align: center;
  margin-bottom: 10px;
}

/* Format reponsive */

@media (max-width: 700px) {
  .h1-home {
    font-size: 40px;
  }

  .h2-home {
    font-size: 18px;
  }

  .h3-headers-home {
    font-size: 35px;
    margin-bottom: 20px;
  }

  .line-under-headers {
    display: none;
  }
  
  .images-projects {
    opacity: 1;
  }

  .project-one {
    display: block;
    width: 100%;
  }

  .project-one .images-projects {
    width: 70%;
  }

  .project-two {
    display: block;
    width: 100%;
  }

  .project-two .images-projects {
    width: 70%;
  }

  .wrapper-logos	{
    margin-top: 15px;
  }

  .project-image-work {
    display: block;
    width: 80%;
  }

  .h4-projects.work {
    padding-top: 5px;
  }

  .project-text-work {
    display: block;
    width: 80%;
    margin-bottom: 20px;
    text-align: center;
  }
}