:root {
  --primary-color: #ebd264;
  --font-family1: 'Playfair Display', serif;
}

.navbar {
  background-color: #fff;
}

.navbar-nav {
  text-align: center;
}

.header-work {
  background-color: var(--primary-color);
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}

.h1-work {
  font-size: 70px;
  font-weight: 600;
  margin-bottom: 0;
}

.h2-work {
  margin-top: 0;
  font-weight: 400;
}

.h1-work, .h2-work {
  font-family: var(--font-family1);
}

.h3-work {
  text-align: center;
  font-family: var(--font-family1);
  font-size: 50px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: -25px;
}

.line-under-h3 {
  margin: 0 auto;
  color: #000;
  text-align: center;
  margin-top: 0px;
  padding-top: 0px;
}

.h4-work {
  margin-bottom: 0px;
  margin-top: 10px;
  padding-top: 20px;
  font-family: var(--font-family1);
  font-weight: 400;
}

.h4-work a {
  text-decoration: none;
  color: #000;
}

.realisation-text {
  font-weight: 300;
}

.realisation-link {
  display: inherit;
  text-align: center;
  margin: 0 auto;
  width: 50%;
  text-decoration: none;
}

.paragraph-work {
  margin: 0 auto;
  padding-top: 30px;
  display: block;
  text-align: center;
  font-weight: 300;
  width: 60%;
}

.footer {
  color: #4b4b4b;
  font-size: 10px;
  text-align: center;
  margin-bottom: 10px;
}

/* Format reponsive */

@media (max-width: 700px) {
  .h1-work {
    font-size: 40px;
  }

  .h2-work {
    font-size: 18px;
  }

  .h3-work {
    font-size: 35px;
    margin-bottom: 20px;
  }

  .line-under-h3 {
    display: none;
  }

  .wrapper-logos	{
    margin-top: 15px;
  }

  .presentation-realisation {
    display: block;
    width: 80%;
  }

  .h4-work {
    padding-top: 5px;
  }

  .realisations-single {
    display: block;
    width: 80%;
    margin-bottom: 20px;
    text-align: center;
  }
}